
// Fonts
@import url("/fonts/Raleway300-400-600.css");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.mr-0 {
    margin-right: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.ml-0 {
    margin-left: 0;
}

.p-0 {
    padding: 0;
}
.pt-0 {
    padding-top: 0;
}
.pr-0 {
    padding-right: 0;
}
.pb-0 {
    padding-bottom: 0;
}
.pl-0 {
    padding-left: 0;
}

@media (min-width:992px) {
    .text-md-right {
        text-align: right;
    }

    .m-md-0 {
        margin: 0;
    }
    .mt-md-0 {
        margin-top: 0;
    }
    .mr-md-0 {
        margin-right: 0;
    }
    .mb-md-0 {
        margin-bottom: 0;
    }
    .ml-md-0 {
        margin-left: 0;
    }

    .p-md-0 {
        padding: 0;
    }
    .pt-md-0 {
        padding-top: 0;
    }
    .pr-md-0 {
        padding-right: 0;
    }
    .pb-md-0 {
        padding-bottom: 0;
    }
    .pl-md-0 {
        padding-left: 0;
    }
}

@media (max-width:991px) {
    .text-sm-xs-right {
        text-align: right;
    }

    .m-sm-xs-0 {
        margin: 0;
    }
    .mt-sm-xs-0 {
        margin-top: 0;
    }
    .mr-sm-xs-0 {
        margin-right: 0;
    }
    .mb-sm-xs-0 {
        margin-bottom: 0;
    }
    .ml-sm-xs-0 {
        margin-left: 0;
    }

    .p-sm-xs-0 {
        padding: 0;
    }
    .pt-sm-xs-0 {
        padding-top: 0;
    }
    .pr-sm-xs-0 {
        padding-right: 0;
    }
    .pb-sm-xs-0 {
        padding-bottom: 0;
    }
    .pl-sm-xs-0 {
        padding-left: 0;
    }
}

@media (max-width:767px) {
    .text-xs-right {
        text-align: right;
    }

    .m-xs-0 {
        margin: 0;
    }
    .mt-xs-0 {
        margin-top: 0;
    }
    .mr-xs-0 {
        margin-right: 0;
    }
    .mb-xs-0 {
        margin-bottom: 0;
    }
    .ml-xs-0 {
        margin-left: 0;
    }

    .p-xs-0 {
        padding: 0;
    }
    .pt-xs-0 {
        padding-top: 0;
    }
    .pr-xs-0 {
        padding-right: 0;
    }
    .pb-xs-0 {
        padding-bottom: 0;
    }
    .pl-xs-0 {
        padding-left: 0;
    }
}
